body {
    background-image: url(/static/image/capa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}

.conteiner_Principal {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 270px;
    border: solid #000000 5px;
    border-radius: 15px;

}

.conteiner_interno{
    text-align: center;
    width: 500px;
    height: 250px;
    background: rgb(76, 96, 230,0.6);
    border-radius: 15px;
}
.tittle_XML{
    font-size: large;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 80px;
}

input[type="file" ]{
    display: none;
  
}


.button {
    margin-bottom: 30px;
    margin-right: 15px;
    border-radius: 3px;
    background-color: #09a848;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 15px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    margin-right: 7px;
}
.button:hover,
.button:focus {
  background-color: rgb(70, 186, 76);
}

.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button:active {
  background-color: #09a848;
  box-shadow: none;
}

.button a {
    text-decoration: none;
    color: #fff;
}

.button_enviar{
    background-color: #09a848;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 15px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    margin-right: 20px;
    
}

.button_enviar:hover,
.button_enviar:focus {
  background-color: rgb(70, 186, 76);
}

.button_enviar:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button_enviar:active {
  background-color: #09a848;
  box-shadow: none;
}


  