{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Validador</title>
        <link rel="stylesheet" href="{% static 'css/style_validador.css' %}">

        <script>
            function xml_info(){
                var xml = document.querySelector('.textInfo');
                xml.innerHTML='' + '<pre>{{ xml }}</pre>' + '</div>'
            }

            function error_info(){
                var erro = document.querySelector('.textInfo');
                erro.innerHTML='' + '<p> {{ erro_pagamento }} <br> {{ alq_validado }} </p>' + '</div>'
            }

            function product_info(){
                var prod= document.querySelector('.textInfo');
                prod.innerHTML='' +
                    '{% for produto in produtos %}' +
                    '<p> <strong> Nome: </strong> {{ produto.nome }} <strong> Código: </strong> {{ produto.codigo }}</p>'+
                    '<p> <strong> Valor Unitário: </strong> R$ {{ produto.valor_unitario }} <strong> Quantidade: </strong> {{ produto.quantidade }} <strong> Valor Total: </strong> R$ {{ produto.valor_total }}</p>'+
                    '<br>'+
                    '{% endfor %}'
            }

            function info_nf(){
                var info = document.querySelector('.textInfo');
                info.innerHTML='' + '<p> <strong> Data-Hora Emissão: </strong> {{ data }} '
            }

        </script>
    </head>
    <body>
        <p class="tittle"> VALIDADOR DE XMLs</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input class="envio" type="submit" value="Enviar">
        </form>
        {% if metodo == 'POST' %}
            <div class="divButton">
                <button onclick="xml_info()" class="buttonXml"> XML </button>
                <button onclick="error_info()" class="buttonErro"> Erros </button>
                <button onclick="product_info()" class="buttonProduct"> Produtos </button>
                <button onclick="info_nf()" class="buttonInfo"> Geral </button>
            </div>
            <div class="mostraXML" id="xml">
                <div class="textInfo">
                    <pre>{{ xml }}</pre>
                </div>
            </div>
            <div class="infoEmit">
                <div class="infoEmiteStyle">
                    <br>
                    <p> <strong> Chave de Acesso da Nota: </strong> {{ Chave_de_Acesso }} </p>
                    <p> <strong> Número da Nota:</strong> {{ Numero_da_Nota }} <strong>Série:</strong> {{ Serie }} <strong>Modelo:</strong> {{ modelo }}</p>
                    <p> <strong> Emitente: </strong> {{ Emitente }} </p>
                    <p> <strong> CNPJ do Emitente: </strong> {{ CNPJ_Emitente }} </p>
                    <br>
                </div>
            </div>
        {% endif %}
    </body>
</html>